tensorflow==2.15.0
pandas 
numpy 
scikit-learn
tensorboard
matplotlib
streamlit
scikeras



##conda create -p venv python=3.11 -y
##pip install -r requirement.txt
##pip install ipykernel
